html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: arial;
  background: linear-gradient(#28313B, #485461);
  background-attachment: fixed;
}

h1 {
 text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.accordion {
 width: 800px;
 margin: 90px auto;
 color: #50C878;
 background-color: black;
 padding: 45px 45px;}
 .accordion .container {
 position: relative;
 margin: 10px 10px;
}

.accordion .label {
 position: relative;
 padding: 10px 0;
 font-size: 30px;
 color: #50C878;
 cursor: pointer;
}

.accordion .label::before {
 content: '+';
 color: #50C878;
 position: absolute;
 top: 50%;
 right: -5px;
 font-size: 30px;
 transform: translateY(-50%);
}

.accordion .content {
 position: relative;
 background: black;
 height: 0;
 font-size: 20px;
 text-align: justify;
 width: 780px;
 overflow-x: scroll;
 transition: 0.5s;
}

.accordion hr {
 width: 100;
 margin-left: 0;
 border: 1px solid grey;
}

.accordion .container.enable .content {
 height: 150px;
}

.accordion .container.enable .label::before {
 content: '-';
 font-size: 30px;
}
