html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: arial;
  background: linear-gradient(#28313B, #485461);
  background-attachment: fixed;
}

h2 {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

table {
  table-layout: fixed;
}

td {
  text-align:center;
}

#leaderboards {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#leaderboards td, #leaderboards th {
  border: 1px solid #ddd;
  padding: 8px;
}

#leaderboards tr:nth-child(even){background-color: #f2f2f2;}
#leaderboards tr:nth-child(odd){background-color: #f2f2f2;}

#leaderboards tr:hover {background-color: #ddd;}

#leaderboards th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
